BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
Standard: Cpp11
UseTab: Never
